@font-face {
  font-family: 'ClearSans';
  src: local('ClearSans'),
    url('/fonts/ClearSans-Regular') format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans';
  src: local('ClearSans'),
    url('/fonts/ClearSans-Bold') format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'ClearSans';
  src: local('ClearSans'),
    url('/fonts/ClearSans-Italic') format("woff2");
  font-weight: italic;
  font-style: italic;
}