<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div id="root">
      {{ partial "header.html" . }}
      <div id="content">
        {{ block "main" . }}{{ end }}
      </div>
      {{ partial "footer.html" . }}
    </div>

    <!-- Include Supabase authentication script -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2.0.0/dist/umd/supabase.min.js"></script>
    <script src="/js/auth.js"></script> <!-- Your custom authentication script -->
  </body>
</html>
